Mods / Configs at Cycle $cycle start:

Difficulty: $difficulty_long
World size: $world_size
Exhaustion: $exhaustion_note

Configs:
$config_bullets

Public Mods:
$public_mods

Private Mods
$private_mods
