**Summary:** $summary
**World Objective:** $objective
**Server ID:** `$server_id`
**Cycle:** $cycle
**Start Time:** <t:$start_ts:F>
**Meteor:** $meteor_days days
**Location:** $location
**Languages:** $languages
**Whitelist:** $whitelist
**Difficulty:** $difficulty
**World Size:** $world_size
**Discord:** $invite

### Configs:

$config_bullets

### Content Mods:

$content_mods

### Custom Content Mods (this server only):

$custom_mods

### Code Mods:

$code_mods
